<% content_for :title do %>About<% end %>
<div class="container-fluid">
  <h1>Code for America Alumni Network</h1>

  <h2>About</h2>
  <p>The Code for America Alumni network consists of fellows, staff and interns who have all been part of the Code for America organization.</p>
</div>
