<% content_for :title do %>Giving Back<% end %>
<div class="container-fluid">
  <h1>Giving Back</h1>
  <p>As a Code for America alumni member here are a few ways to give back to the organization</p>
  <h2>Volunteer</h2>
  <p>There's plenty of volunteer oportunities at Code for America</p>
  <ul>
    <li>Join your local <%= link_to 'Brigade', 'http://brigade.codeforamerica.org' %></li>
    <li>Help maintain a repo on <%= link_to 'Github', 'https://github.com/codeforamerica' %></li>
    <li>Mentor a current fellow</li>
  </ul>

  <h2>Donate</h2>
  <p><%= link_to 'Donate','https://secure.codeforamerica.org/page/contribute/annual-campaign' %> back to Code for America!</p>
</div>
