<% content_for :title do %>Alumni Network Members<% end %>
<!-- Cover area -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'cfa_cover.jpg' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Alumni Network</h1>
          <p class="lead">Welcome to the Code for America Alumni Network</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.cover -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h2>About</h2>
      <p>At Code for America passionate web developers, designers, and entrepreneurs leverage the power of the internet to make governments more open and efficient, and in doing so, they develop new skills, join a network of civic leaders, and most of all, have an impact.</p>
      <p>Meet the people who have helped make a difference.</p>
    </div>
    <div class="span6">
    </div>
  </div>
  <div class="row-fluid">
    <h2>Meet an alumni member</h2>
    <ul class="thumbnails">
    <% @alumni.each do |user| %>
      <li class="span3">
      <div class="thumbnail">
        <%= link_to gravatar_image_tag(user.email, :alt => user.full_name), user_path(user) %>
        <h3><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></h3>
      </div>
      </li>
    <% end %>
  </div>
</div>

