<h1>Code for America Alumni</h1>

<div class="row-fluid">
  <div class="span12">
    <% @alumni.each do |alumni| %>
      <h2><%= link_to pluralize_alumni(alumni.name), alumni_show_path(alumni) %></h2>
      <img src="http://placehold.it/320x200" alt="">
      <p><%= alumni.description %></p>
      <% end %>
  </div>
</div>
