<h1><%= @user.full_name %></h1>
<div class="row-fluid">
  <div class="span2">
    <img src="http://placehold.it/150x150" />
  </div>
  <div class="span10">
    <p><%= @user.about %></p>
  </div>
</div>
